// Team
section.our-team.py-5
	h2.section-title Meet Our Team
	.container
		.row
			include ../mixins/_team-member-mixin
			+teamMemberIndex({ img: 'https://picsum.photos/200/300?random=1', name: 'Ali Ben Jaber' })
			+teamMemberIndex({ img: 'https://picsum.photos/200/300?random=1', name: 'Ali Ben Jaber' })
			+teamMemberIndex({ img: 'https://picsum.photos/200/300?random=1', name: 'Ali Ben Jaber' })
			+teamMemberIndex({ img: 'https://picsum.photos/200/300?random=1', name: 'Ali Ben Jaber' })

// team-end
