// Current Investment Opportunities
section.investments.py-5
	.container
		h2.section-title Current Investment Opportunities
		.row
			+investment({ img: 'https://picsum.photos/200/300?random=1', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$240,000', return: '7%', multiple: '1X', minInvest: '$10,000' })
			+investment({ img: 'https://picsum.photos/200/300?random=2', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$240,000', return: '7%', multiple: '1X', minInvest: '$10,000' })
			+investment({ img: 'https://picsum.photos/200/300?random=3', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$240,000', return: '7%', multiple: '1X', minInvest: '$10,000' })
// current-investment-opportunities
|
|
// Coming Soon Investment Opportunities
section.investments.py-5
	.container
		h2.section-title Coming Soon Investment Opportunities
		.row
			+investment({ img: 'https://picsum.photos/200/300?random=4', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$240,000', return: '7%', multiple: '1X', minInvest: '$10,000' })
			+investment({ img: 'https://picsum.photos/200/300?random=5', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$240,000', return: '7%', multiple: '1X', minInvest: '$10,000' })
			+investment({ img: 'https://picsum.photos/200/300?random=6', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$240,000', return: '7%', multiple: '1X', minInvest: '$10,000' })
// coming-soon-investment-opportunities
