// About us
section.about-us.py-5
	h2.section-title About Us
	p.section-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ducimus molestiae provident! Repellendus, iure.

	.container
		.row.text-center
			.col-md-4.pt-3
				.about-us__item
					.mb-3
						i.fas.fa-eye
					h4.section-subtitle Vision
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni exercitationem suscipit quod perferendis. Perferendis, nam.
			.col-md-4.pt-3
				.about-us__item
					.mb-3
						i.fas.fa-spa
					h4.section-subtitle Mission
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci aut fuga harum magni ad reprehenderit!
			.col-md-4.pt-3
				.about-us__item
					.mb-3
						i.fas.fa-heart
					h4.section-subtitle Values
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et adipisci nam voluptatem enim, neque rem?
// about-us-end
