//- Footer
// Footer
footer.site-footer.bg-primary.text-center.text-white
  .container
    .site-footer__logo-box
      //- img(src="images/icons/icon--oktobly-logo-transparent.png")
    p منصة تقدم خدمات كتابة المحتوى للدراسات العلمية والمواقع وخدمات الووردبريس من قبل مختصين محترفين بالمجالات المتناولة.

    .mt-5.w-50.mx-auto.d-flex.justify-content-center
      a.social-icon(href="https://www.facebook.com/OktoblyWebsite" target="_blank")
        i.fab.fa-facebook
      a.social-icon(href="https://twitter.com/OktoblyWebsite" target="_blank")
        i.fab.fa-twitter
      a.social-icon(href="https://www.instagram.com/OktoblyWebsite" target="_blank")
        i.fab.fa-instagram
      //- a.social-icon(href="mailto:info@oktobly.net")
        i.fas.fa-envelope
    .divider.divider--full-width.divider--white
    // Copyright
    .pb-4
      p جميع حقوق النشر محفوظة - اكتبلي <script>document.write(new Date().getFullYear())</script>
// footer-end
