// How it works
section.how-it-works.py-5
	h2.section-title How Aqar Tech Works?

	.container
		.row.text-center
			.col-md-4.pt-3
				.mb-3
					i.fas.fa-search-dollar
				h4.section-subtitle Find the Opportunity
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni exercitationem suscipit quod perferendis. Perferendis, nam.
			.col-md-4.pt-3
				.mb-3
					i.fas.fa-quidditch
				h4.section-subtitle Make a Smart Investment
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci aut fuga harum magni ad reprehenderit!
			.col-md-4.pt-3
				.mb-3
					i.fas.fa-funnel-dollar
				h4.section-subtitle Gain and Grow
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et adipisci nam voluptatem enim, neque rem?
// how-it-works-end
