include ../mixins/_investment-mixin

mixin investmentOpportunities(investmentOppsObj)
	section.investments.py-5
		.container
			h2.section-title= investmentOppsObj.title
			.row
				- let currentOpps = [{ img: 'https://picsum.photos/200/300?random=1', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$240,000', return: '7%', multiple: '1X', minInvest: '$10,000' }, { img: 'https://picsum.photos/200/300?random=2', title: 'Lorem ipsum dolor sit emet.', industry: 'Real Estate', raised: '$330,000', return: '4%', multiple: '2X', minInvest: '$11,500' }, { img: 'https://picsum.photos/200/300?random=3', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$110,000', return: '6%', multiple: '1X', minInvest: '$25,000' }, { img: 'https://picsum.photos/200/300?random=7', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$110,000', return: '6%', multiple: '1X', minInvest: '$25,000' }, { img: 'https://picsum.photos/200/300?random=8', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$110,000', return: '6%', multiple: '1X', minInvest: '$25,000' }, { img: 'https://picsum.photos/200/300?random=9', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$110,000', return: '6%', multiple: '1X', minInvest: '$25,000' }]

				- let comingOpps = [{ img: 'https://picsum.photos/200/300?random=4', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$240,000', return: '7%', multiple: '1X', minInvest: '$10,000' }, { img: 'https://picsum.photos/200/300?random=5', title: 'Lorem ipsum dolor sit emet.', industry: 'Real Estate', raised: '$330,000', return: '4%', multiple: '2X', minInvest: '$11,500' }, { img: 'https://picsum.photos/200/300?random=6', title: 'Lorem ipsum dolor sit emet.', industry: 'Wholesale', raised: '$110,000', return: '6%', multiple: '1X', minInvest: '$25,000' }]

				if investmentOppsObj.investments === 'currentOpps'
					each currentOpp in currentOpps
						+investment({ img: currentOpp.img, title: currentOpp.title, industry: currentOpp.industry, raised: currentOpp.raised, return: currentOpp.return, multiple: currentOpp.multiple, minInvest: currentOpp.minInvest })


				if investmentOppsObj.investments === 'comingOpps'
					each comingOpp in comingOpps
						+investment({ img: comingOpp.img, title: comingOpp.title, industry: comingOpp.industry, raised: comingOpp.raised, return: comingOpp.return, multiple: comingOpp.multiple, minInvest: comingOpp.minInvest })
