//- Meta tags
//- Change meta description and author (If required)
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=7")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content="اكتبلي لخدمات المحتوى العلمي والتسويقي ومواقع الووردبريس")
meta(name="author" content="Mahmoud El Helou")
