.contact {
	&__section {
		margin-bottom: 2rem;

		&:last-child {
			margin-bottom: 0;
		}

		img {
			height: 300px;
			border-radius: 1rem;
		}

		h2 {
			font-size: 1.75rem;

			@include responsive(atMedium) {
				margin-top: 2rem;
			}
		}
	}

	&__info {
		text-align: center;

		&-icon {
			font-size: 2rem;
			margin-bottom: .75rem;
		}

		h4 {}
	}
}
