extends ./layouts/page

block navbar
	- let activePage = 'investments'
	include ./partials/_navbar

block pageBannerTitle
	h2.page-banner__title Our Investment Opportunities
block pageBannerDescription
	p.page-banner__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas explicabo necessitatibus earum voluptatem, commodi quae?

block content
	include ./partials/_investments
	include ./partials/_investments
	// Current Investment Opportunities

	+investmentOpportunities({ title: 'Current Investment Opportunities', investments: 'currentOpps' })
	// current-investment-opportunities-end
	|
	|
	// Coming Soon Investment Opportunities
	+investmentOpportunities({ title: 'Coming Soon Investment Opportunities', investments: 'comingOpps' })
	// coming-soon-investment-opportunities-end
	// coming-soon-investment-opportunities-end
