extends ./layouts/page

block pageTitle
	title Contact Us | Aqar Tech

block navbar
	- let activePage = 'contact';
	include ./partials/_navbar

block pageBannerTitle
	h1.page-banner__title Contact Us
block pageBannerDescription
	p.page-banner__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum recusandae sit, praesentium rerum nam dolor.

block content
	section.contact.py-5
		.container
			.contact__section
				.row
					.col-md-6
						h2 Get in Touch
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste accusantium corporis, beatae quia a corrupti.
					.col-md-6
						img(src="https://picsum.photos/200/300?random=5", alt="Aqar Tech contact us")
			.contact__section.contact__info.pt-5
				.row
					.col-md-4
						.contact__info-icon
							i.fas.fa-map-marker-alt
						h4 Find Us
					.col-md-4
						.contact__info-icon
							i.fas.fa-map-marker-alt
						h4 Find Us
					.col-md-4
						.contact__info-icon
							i.fas.fa-map-marker-alt
						h4 Find Us
