extends ./layouts/page

block pageTitle
	title Terms &amp; Conditions | Aqar Tech

block pageBannerTitle
	h1.page-banner__title Terms &amp; Conditions
block pageBannerDescription
	p.page-banner__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum recusandae sit, praesentium rerum nam dolor.

block content
	section.privacy.py-5
		.container
			.privacy__section
				h2 Basic Protection
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat quod veritatis dolorem quia atque quaerat, perspiciatis magnam quis quae laudantium harum quam suscipit ea!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat quod veritatis dolorem quia atque quaerat, perspiciatis magnam quis quae laudantium harum quam suscipit ea!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat quod veritatis dolorem quia atque quaerat, perspiciatis magnam quis quae laudantium harum quam suscipit ea!

			.privacy__section
				h2 Keep in Mind That...
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat quod veritatis dolorem quia atque quaerat, perspiciatis magnam quis quae laudantium harum quam suscipit ea!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat quod veritatis dolorem quia atque quaerat, perspiciatis magnam quis quae laudantium harum quam suscipit ea!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat quod veritatis dolorem quia atque quaerat, perspiciatis magnam quis quae laudantium harum quam suscipit ea!
